{% extends "layout.html" %}

{% block title%}
Buy
{% endblock %}

{% block main%}
    <form method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="text" id="symbol" name="symbol" autofocus placeholder="Symbol">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="text" id="amount" name="amount" autofocus placeholder="Amount">
        </div>
        <div class="mb-3">
            <button class="form-control mx-auto w-auto btn btn-success" type="submit">Buy</button>
        </div>

    </form>
{% endblock %}