{% extends "layout.html" %}

{% block title%}
History
{% endblock %}

{% block main%}
    <table class="table">
        <thead>
            <tr>
                <th>Side</th>
                <th>Symbol</th>
                <th>Price per Share</th>
                <th>Amount</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
        {% for n in history %}
            {% if n["side"] == "Sell"%}
            <tr class="table-danger">
                <td>{{n["side"]}}</td>
                <td><b>{{n["symbol"]}}</b></td>
                <td>{{n["price"] | thb}}</td>
                <td>{{n["amount"]}}</td>
                <td>{{n["time"] | dt}}</td>
            </tr>
            {% else %}
            <tr class="table-info">
                <td>{{n["side"]}}</td>
                <td><b>{{n["symbol"]}}</b></td>
                <td>{{n["price"] | thb}}</td>
                <td>{{n["amount"]}}</td>
                <td>{{n["time"] | dt}}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}