{% extends "layout.html" %}

{% block title%}
Home
{% endblock %}

{% block main%}
    {{data}}
<!--
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Current Price</th>
            <th scope="col">Market Value</th>
            <th scope="col">Purchase Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{symbol}}</td>
            <td>{{price}}</td>
            <td>@mdo</td>
        </tr>

        </tbody>
    </table>
    -->
{% endblock %}