{% extends "layout.html" %}

{% block title%}
Home
{% endblock %}

{% block main%}

<!--
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Current Price</th>
            <th scope="col">Market Value</th>
            <th scope="col">Purchase Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{symbol}}</td>
            <td>{{price}}</td>
            <td>@mdo</td>
        </tr>

        </tbody>
    </table>
    -->
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Current Price</th>
                <th>Amount</th>
                <th>Total Value</th>
                <th>Total Purchase Price</th>
                <th>Unrealized P/L</th>
            </tr>
        </thead>
        <tbody>
            {% for n in data %}
                {% if unreal[n["symbol"]] > 0%}
                    <tr class="table-success">
                        <td><b>{{n["symbol"]}}</b></td>
                        <td>{{price[n["symbol"]] | thb}}</td>
                        <td>{{n["amount"]}}</td>
                        <td>{{total[n["symbol"]] | thb}}</td>
                        <td>{{n["purchase_price"] | thb}}</td>
                        <td>{{unreal[n["symbol"]] | thb}}</td>
                    </tr>
                {% elif unreal[n["symbol"]] == 0%}
                    <tr class="table-warning">
                        <td><b>{{n["symbol"]}}</b></td>
                        <td>{{price[n["symbol"]] | thb}}</td>
                        <td>{{n["amount"]}}</td>
                        <td>{{total[n["symbol"]] | thb}}</td>
                        <td>{{n["purchase_price"] | thb}}</td>
                        <td>{{unreal[n["symbol"]] | thb}}</td>
                    </tr>
                {% else %}
                    <tr class="table-danger">
                        <td><b>{{n["symbol"]}}</b></td>
                        <td>{{price[n["symbol"]] | thb}}</td>
                        <td>{{n["amount"]}}</td>
                        <td>{{total[n["symbol"]] | thb}}</td>
                        <td>{{n["purchase_price"] | thb}}</td>
                        <td>{{unreal[n["symbol"]] | thb}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}