{% extends "layout.html" %}

{% block title%}
Home
{% endblock %}

{% block main%}

<!--
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Current Price</th>
            <th scope="col">Market Value</th>
            <th scope="col">Purchase Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{symbol}}</td>
            <td>{{price}}</td>
            <td>@mdo</td>
        </tr>

        </tbody>
    </table>
    -->
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Current Price</th>
                <th>Amount</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for n in data %}
            <tr>
                <td>{{n["symbol"]}}</td>
                <td></td>
                <td>{{n["amount"]}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}