{% extends "layout.html" %}

{% block title%}
Sell
{% endblock %}

{% block main%}
    <form method="post">
        <!--
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="text" id="symbol" name="symbol" autofocus placeholder="Symbol">
        </div>
        -->
        <div class="mb-3">
            <select name="symbol" id="symbol" required>
                <option value="default" default selected disabled>Select stock's symbol</option>
                {% for n in portfolio %}
                <option name="symbol" value='{{n["symbol"]}}'>{{n["symbol"]}}</option>
                {% endfor %}
              </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="text" id="amount" name="amount"autocomplete="off" autofocus placeholder="Amount">
        </div>
        <div class="mb-3">
            <button class="form-control mx-auto w-auto btn btn-danger" type="submit">Sell</button>
        </div>

    </form>
{% endblock %}